<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="{{STATIC_URL}}/logos/Favicon.png">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}foundation.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}normalize.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Navigation -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name" style="margin-left: 10px">
        <h1>
            League Randomizer
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
        <li class="name" style="margin-right:20px">
        <h1>New User, Sign Up!</h1>
        </li>
    </ul>
  </nav>

  <!-- End Top Bar -->
    <div class="row" id="mainBody">
        <h1> Welcome To The Official League of Legends Lane Randomizer! </h1>
        <div class="large-12 columns">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>